
div.animalItem {
    margin: 5px;
    float: left;
    width: 627px;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.911), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

p.animalDesc {
    color: black;
    margin: 5px;
    width: 600px;
    text-align: left;
    list-style-type: none;
    font-size: xx-large;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

  
  div.animalItem img {
    width: 100%;
    height: auto;
  }
  
  div.species {
    padding: 15px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Ubuntu', sans-serif;

  }

  body{
    background-color: rgb(185, 228, 228);
  }